body {
  margin: 0;
font-family: 'Courier New', Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.a-card {
  margin: 10px;
}


.a-card-image {
  border-radius: 10px;
  width: 660px;
  height: 460px;
  box-shadow: 0px 0px 3px 1px #ccc;
}


.a-card-info {
  margin-top: 10px;
  min-height: 100px;
}


.a-card-title {
  font-size: 24px;
  margin: 0px;
}


.a-card-sub-title {
  font-size: 16px;
  margin: 0px;
}


.success-msg {
  color: #57A773;
  padding: 10px 15px;
}


.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}

.photo {
  height: 400px;
  width: 400px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 10px;
  float: left;
}

.Github {
  margin-left: 15px;
}

.Resume {
  margin-left: 15px;
}